body,
html {
  width: 100%;
  margin: 0;
  /* background-image: url("../assets/FondoB.webp"); */
  background-color: #cffff1;
}
@font-face {
  font-family: "Kanit";
  src: url("../assets/Kanit-SemiBold.ttf");

  font-family: "Roboto Condensed";
  src: url("../assets/RobotoCondensed-SemiBold.ttf");
}
.cubo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(0, 0, 0); */
  width: 100%; /* Asegura que ocupe toda la altura disponible */
}

.sema {
  margin-left: auto;
  margin-right: auto;
  /*   border: 1px solid #009b94; */
}
.sema h2 {
  font-family: "Roboto Condensed", sans-serif;
}
.barra {
  border-width: 1px;
  padding: 0.5rem;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.color {
  background-color: darkblue;
}

.banner {
  background-color: #009b94;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Estilos para el h1 dentro del div */
.banner h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

h2,
h3 {
  text-align: center;
  padding: 10px 20px;
  font-size: 24px;
}

.btn {
  background-color: #009b94;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
}
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos de el semaforo de colores */
.contenedor-principal {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(0, 0, 0);
  background-color: gray;
}

.led1 {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.led2 {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.led3 {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.led4 {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.led5 {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.led6 {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.stick {
  width: 8px;
  height: 400px;
  background-color: #009b94;
}
