body,
html {
  width: 100%;
  margin: 0;
  background-color: #e4fff9;
}
@font-face {
  font-family: "Kanit";
  src: url("../assets/Kanit-SemiBold.ttf");

  font-family: "Roboto Condensed";
  src: url("../assets/RobotoCondensed-SemiBold.ttf");

  font-family: "Days One";
  src: url("../assets/DaysOne-Regular.ttf");
}
.cubo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegura que ocupe toda la altura disponible */
}

.sema {
  margin-left: auto;
  margin-right: auto;
}
.sema h2 {
  font-family: "Roboto Condensed", sans-serif;
}
.barra {
  border-width: 1px;
  padding: 0.5rem;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.color {
  background-color: darkblue;
}

.banner {
  background-color: #009b94;
  color: white;
  text-align: center;
  padding: 20px;
  border: 2px solid #007e78;
}

/* Estilos para el h1 dentro del div */
.banner h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-family: "Days One", sans-serif;
}

h2,
h3 {
  text-align: center;
  padding: 10px 20px;
  font-size: 24px;
}

.btn {
  background-color: #009b94;
  color: white;
  border: 2px solid #007e78;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Agregado: Transición suave al cambiar colores */
}
.btn:hover {
  background-color: #007e78;
  color: #fff;
}
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos de el semaforo de colores */
.contenedor-principal {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(0, 0, 0);
  background-color: #9fa3a9;
}

.led1 {
  background-color: #1f2124;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.led2 {
  background-color: #1f2124;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.led3 {
  background-color: #1f2124;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.led4 {
  background-color: #1f2124;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.led5 {
  background-color: #1f2124;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.led6 {
  background-color: #1f2124;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.stick {
  width: 8px;
  height: 650px;
  background-color: #009b94;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
